[Unit]
Description=Webssh
After=network.target

[Service]
User=cchiang
Restart=always
StartLimitBurst=0
Environment=SYSTEMD_LOG_LEVEL=debug
RestartSec=5
WorkingDirectory=/home/cchiang/webssh
ExecStart=/usr/bin/env python3 run.py
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target